/*-----------------Footer Component-----------------*/
.footer{   
    padding: 5px;
    background-color: black;
    color: white;
    font-size: small;
    padding-bottom: 5px;
}
.footer-navigation{
    display: grid;
    grid-template-rows: 1fr ;
    justify-content: center;
}
.icons{
    margin:5px 8px ;
}
.links a{
    font-size: x-small;
    margin: 2px 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a{
    color: white;
}
a:hover{
    color: blue;
}
/************************ MEDIA QUERIES ***********************/
@media (min-width:1024px) {
/*-----------------Footer Component-----------------*/
.footer{
    border-top: 1px solid white;
    padding: 10px;
}
.footer-navigation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.icons{
    margin:5px 8px ;
}
.footer-navigation p{
    font-size: small;
}
.footer-navigation .navigation{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.footer-navigation .navigation a{
    font-weight: bold;
    margin-left: 15px;
}
.logoName{
    font-weight: bold;
}
.span1{
    font-size: 2em;
}
a{
    color: white;
}
a:hover{
    color: blue;
}
}