/*-----------------Hero Component-----------------*/
  
.hero{
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white; 
    font-size: small;
}
.hero .content .heading{
    font-weight: bold;
    padding: 10px;
}
/*-----------------Contact Component-----------------*/
.contact{   
    width: 100%;
    background-color: black;
    color: white;
}
.contact-details{
    width: 100%;
    margin-top: 10px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center; 
}
.contact .getinTouch{
   text-align: center;
   margin-bottom: 20px;
}

.LogoImg{
    min-width: 100px;
    height: 100px;
    color: white;
    overflow: hidden;
}
.LogoImg img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}
form .InfoField{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px 10px;
}
input{
    border: none;
}
.phonefield{
    display: flex;
}
form select {
    display: inline;
    width: 50px;
    height: 30px;
}
form div input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color: rgb(2, 88, 122);
    color: white;
    border: none;
    padding: 10px;
}
button:hover{
    background-color: rgb(44, 168, 218);
    color: white;
}
.LetsWorkTogether{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

/*-----------------GetInTouch Component-----------------*/
.GetinTouch-Container{
    background:linear-gradient(to left ,black,rgb(68, 67, 67));
    border-radius: 15px;
    margin: 10px;
}
.Booking{
    margin: 5px;
}
.BookingBtn{
    margin:10px 0px;
    width: fit-content;
    
}
.GetinTouch{
    padding: 5px;
    font-size: small;
}
.GetinTouchBtn{
    margin:0px 5px;
    background-color: purple;
    color: white;
    padding: 8px;
    width: fit-content;
     cursor: pointer;
}

/*-----------------Quality Component-----------------*/
.Quality{
    padding:10px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 8px;
}
.Qh1{
    font-size: large;
}
.Quality div{
    border: 1px solid white;
    background-color: rgb(51, 53, 53);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px whitesmoke;
}
.Quality div li{
    list-style-position: inside;
    margin-top: 10px;
}

/*-------------Section1 Component------------*/  
.MainSection{
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
    font-size:medium;
    gap: 6px;
}
.MainSection img{
    margin: 5px;
    border-radius: 15px;
}
.MainSection h1{
    font-size:medium;
    font-weight:bold;
}
.MainSection ul li{
    list-style-position: inside;
}

/*-----------------AdsOffer Component-----------------*/
.Adsoffer{
    padding: 10px;
}
.Adsoffer h1{
    font-size: medium;
}
.Adsoffer .content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.Adsoffer ul{
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    box-shadow: 2px 1px 1px grey;
}
.Adsoffer li{
   list-style-position: inside; 
}


/************************ MEDIA QUERIES ***********************/
@media (min-width:1024px) {
/*-----------------Contact Component-----------------*/
.LogoImg{
    min-width: 200px;
    height: 200px;
}
.contact-details{
    display: grid;
    grid-template-columns:1fr 1fr ;
    justify-content: center;
    align-items: center;
}
form .InfoField{
    display: grid;
    grid-template-columns:100px 300px;
    margin: 10px;
}
.LetsWorkTogether{
    grid-column: 1/-1;
    height: 100vh;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
/*-----------------GetInTouch Component-----------------*/
.GetinTouch{
    display:grid;
    grid-template-columns: 1fr auto;
    margin: 10px;
}
.highlights{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
}
.Booking{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.BookingBtn{
    width: fit-content;
    margin-left: 20px;
}
.GetinTouchBtn{
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: purple;
    color: white;
    border-radius: 50%;    
    margin: 20px;
}
.GetinTouchBtn:hover{
    background-color: rgb(218, 3, 218);
    cursor: pointer;
}
/*--------------Section1 Component--------------*/
.section1,.section2,.section3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align:left;
    gap: 20px;
    
}
.bgImg{
    background-image: url("growth6.jpg");
     
}
.content1,.growthInfo,.scaling{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 25px;
    align-items: center;
    height: 75%;
    line-height: 30px;
    background-color: rgba(133, 130, 130, 0.212);
    
    border-top: 1px solid rgb(170, 166, 166);
    border-left: 1px solid rgb(170, 166, 166);
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgb(5, 5, 5);
    backdrop-filter:blur(15px);
    
}
/*----------------- Quality Component-----------------*/
.Quality{
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.Adsoffer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.Adsoffer .content{
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Adsoffer .img{
    width: 90%;
}
}